{% extends "base.html" %}
{% load staticfiles %}
{% load humanize %}
{% block content %}
<section id="product-search">

	<div class="container-fluid">
		
		<div class="row">

			
			<!-- Search Listing -->
			<div class="product-list-search sidebar-offcanvas">
				<form class="form-search" role="form" action="{% url "list" %}" method="get" id="searchform">
					<div class="col-xs-12 col-sm-6 col-md-5 col-lg-5">
						<div class="product-list-search-inner">

							<div class="col-md-12">
								
								<div class="col-md-5 col-sm-5 head-title">
									<h2>Search</h2>
								</div>
								<div class="col-md-7 col-sm-7 filter-tab clearfix">
									<div class="btn-group" data-toggle="buttons">

									</div>
								</div>
								
							</div>
						
							<div class="form-group col-md-12">
								<input type="text" class="form-control" name="q" id="searchform" placeholder="City, St. or Zipcode">
							</div>

{#							<div class="form-group col-md-6 col-sm-6">#}
{#								<label for="">Min Price</label>#}
{#								<select class="form-control selectpicker">#}
{#								 	<option>$0</option>#}
{#									<option>$50,000</option>#}
{#									<option>$100,000</option>#}
{#									<option>$200,000</option>#}
{#									<option>$300,000</option>#}
{#                                    <option>$500,000</option>#}
{#								</select>#}
{#							</div>#}

{#							<div class="form-group col-md-6 col-sm-6">#}
{#								<label for="">Max Price</label>#}
{#								<select class="form-control selectpicker">#}
{#								 	<option>$100,000</option>#}
{#									<option>$200,000</option>#}
{#									<option>$300,000</option>#}
{#									<option>$400,000</option>#}
{#									<option>$500,000+</option>#}
{#								</select>#}
{#							</div>#}
{##}
{#							<div class="form-group col-md-6 col-sm-6">#}
{#								<label for="">Bedrooms</label>#}
{#								<select class="form-control selectpicker">#}
{#								 	<option>1</option>#}
{#									<option>2</option>#}
{#									<option>3</option>#}
{#									<option>4</option>#}
{#									<option>5+</option>#}
{#								</select>#}
{#							</div>#}
{##}
{#							<div class="form-group col-md-6 col-sm-6">#}
{#								<label for="">Bathrooms</label>#}
{#								<select class="form-control selectpicker">#}
{#								 	<option>1</option>#}
{#									<option>2</option>#}
{#									<option>3</option>#}
{#									<option>4</option>#}
{#									<option>5</option>#}
{#								</select>#}
{#							</div>#}
							<div id="advanced-search" class="form-group form-action col-md-12">
{#								<a href="#" class="adv-link">Advanced Search</a>#}
								<button type="submit" class="btn-search btn btn-flat-alizarin">Search</button>
							</div>
						</div>
						<div class="advanced-search">
						</div>
						</div>
				</form>
			</div>
			<!-- end Search Listing -->


			<!-- product Slideshow -->
			<div class="product-main-slider">
				<div class="col-xs-12 col-sm-6 col-md-7 col-lg-7">
					<div id="carousel" class="carousel slide" data-ride="carousel">
						<!-- Indicators -->
						<ol class="carousel-indicators">
							<li data-target="#carousel" data-slide-to="0" class="active"></li>
							<li data-target="#carousel" data-slide-to="1"></li>
							<li data-target="#carousel" data-slide-to="2"></li>
						</ol>

						<!-- Wrapper for slides -->
						<div class="carousel-inner">
							<div class="item active">
								<img src="http://cdn-0.eneighborhoods.com/x2/@v=614822612@/170/0/018/1573018/1573018_1.jpg" alt="...">
								<div class="carousel-caption">
									<div class="media">
										<a class="pull-left" href="#">
											<img class="media-object" src={% static "img/sample-logo-1.png" alt="Sample Logo 1"%}>
										</a>
										<div class="media-body">
											<a href="#"><h4 class="media-heading">Umbrella Property Ptd Ltd</h4></a>
											<p>Las Vegas, NV.</p>
										</div>
									</div>
								</div>
							</div>

							<div class="item">
								<img src="http://cdn-0.eneighborhoods.com/x2/@v=-1516012976@/170/8/870/1572870/1572870_1.jpg" alt="...">
								<div class="carousel-caption">
									<div class="media">
										<a class="pull-left" href="#">
											<img class="media-object" src={% static "img/sample-logo-2.png" alt="Sample Logo 1"%}>
										</a>
										<div class="media-body">
											<a href="#"><h4 class="media-heading">Rain &amp; Shine Realty</h4></a>
											<p>Henderson, NV.</p>
										</div>
									</div>
								</div>
							</div>

							<div class="item">
								<img src="http://cdn3.static-homes.com/cgi-bin/readimage/b96b207ba12669a9d531737e91e7d024" alt="...">
								<div class="carousel-caption">
									<div class="media">
										<a class="pull-left" href="#">
											<img class="media-object" src={% static "img/sample-logo-3.png" alt="Sample Logo 1"%}>
										</a>
										<div class="media-body">
											<a href="#"><h4 class="media-heading">The Dots Property</h4></a>
											<p>Las Vegas, NV.</p>
										</div>
									</div>
								</div>
							</div>
						</div>

						<!-- Controls -->
						<a class="left carousel-control" href="#carousel" data-slide="prev">
							<span class="glyphicon glyphicon-chevron-left"></span>
						</a>
						<a class="right carousel-control" href="#carousel" data-slide="next">
							<span class="glyphicon glyphicon-chevron-right"></span>
						</a>
					</div>
				</div>
			</div>
			<!-- End product Slideshow -->

		</div>

	</div>

</section>

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<section id="content">
				
	<div class="row">
		<!-- product Listing -->
		<div class="product-list grid-layout clearfix">

			<div class="col-sm-12 col-md-12 the-title text-left">
				<div class="row">
					<div class="col-md-6 col-sm-7 col-xs-8">
						<h2>Featured Listings</h2>

					</div>
				</div>
			</div>
            {% for home in homelist|slice:":4" %}
			<div class="prop-item col-sm-6 col-md-3">
				<div class="thumbnail">
					<div class="thumbnail-img thumbscrubber">
					    <span class="ts-inner">
					    	
<img src='{{ home.img }}' alt="House" class="ts-currslide">
<img src="http://upload.wikimedia.org/wikipedia/commons/7/75/Family-room-700.jpg" alt="Family Room">
<img src="http://upload.wikimedia.org/wikipedia/commons/3/39/METLA_SUIHKU_big.jpg" alt="Bathroom">
<img src="http://upload.wikimedia.org/wikipedia/commons/b/b2/Fully_Furnished_Atenas_Apartments_for_rent.jpg" alt="Kitchen">
					    </span>
					</div>
					
					<div class="thumbnail-body">
						<div class="caption">
							<a href= {% url 'detail' home.id %}>

								<h3><span class="prop-address">{{ home.address }}<br> {{ home.city }}, {{ home.state }}. {{ home.zipcode }}</span></h3>
								<div class="prop-price">${{ home.price|intcomma }} <span></span></div>
							</a>
						</div>

						<div class="content clearfix">
							<ul class="list-unstyled feature-list">
								<li>{{ home.bedrooms }} Bedrooms</li>
								<li>{{ home.bathrooms }} Bathrooms</li>
								<li>{{ home.sqft }} ft <sup>2</sup></li>
							</ul>

							<div class="link-action clearfix">
								<a href="#" class="col-md-6 col-sm-6 col-xs-6 save-favorite" data-toggle="tooltip" data-placement="top" title="You like this!"><i class="fa fa-thumbs-o-up fa-2x"></i></a>
								<a href="#" class="col-md-6 col-sm-6 col-xs-6 contact-agent" data-toggle="tooltip2" data-placement="top" title="Not your style!"><i class="fa fa-thumbs-o-down fa-2x"></i></a>
							</div>
						</div>
					</div>

				</div>
			</div>
            {% endfor %}

				</div>
			</div>

		</div>
		<!-- End product Listing -->

	</div>
			</section>
		</div>
	</div>
</div>
{% endblock %}