{% extends "base.html" %}
{% load staticfiles %}
{% load humanize %}
{% block content %}

<div class="container overflow-hidden">
	<div class="row row-offcanvas row-offcanvas-left row-offcanvas-sm row-offcanvas-sm-left row-offcanvas-xs box-padding">

		<div class=" sidebar-offcanvas sidebar-offcanvas-sm">
			<section id="sidebar">

			</section>
		</div>
		<div class="">
			<section id="content">
				
	<div class="row">
		<!-- product Listing -->

		<div id="product-list" class="product-list full-listing grid-layout clearfix">
			
			<div class="col-md-12">
				<button type="button" class="btn btn-flat-asbestos btn-icon hidden-md hidden-lg text-left" data-toggle="offcanvas-sm">
					<i class="fa fa-share"></i> Advanced Filter 
				</button>
			</div>

			<div class="col-sm-12 col-md-12 the-title text-left">
				<h2>Homes for Sale in {{ search }}</h2>
			</div>

			<div class="col-sm-12 col-md-12">
				<div class="filter-bar clearfix">
					<div class="row">
						<div class="col-xs-12 col-sm-5 col-md-5">
							<h5 class="filter-title"> <span>Homes {{ page_obj.start_index }} through {{ page_obj.end_index }} of {{ paginator.count }}.</span><span></span></h5>
						</div>
						
						<div class="col-xs-12 col-sm-7 col-md-7">
							<form class="form-inline pull-right">
								<ul class="list-unstyled filter-gridlist">
									<li class="hidden-xs">
										<a href="#" data-toggle="tooltip" data-placement="top" title="Grid View" id="gridview" class="switcher active"><i class="fa fa-th"></i></a>
									</li>
									<li class="hidden-xs">
{#										<a href="#" data-toggle="tooltip" data-placement="top" title="List View" id="listview" class="switcher"><i class="fa fa-th-list"></i></a>#}
									</li>
									<li class="hidden-xs" style="display: none;"> <!-- Remove "display: none;" for the map marker icon -->
										<a href="#" data-toggle="tooltip" data-placement="top" title="Map View"><i class="fa fa-map-marker"></i></a>
									</li>
								</ul>
							</form>
						</div>
					</div>
				</div>
			</div>
            {% for home in homesearch %}
			<div class="prop-item col-sm-6 col-md-4">
				<div class="thumbnail sameh">
					
					<div class="thumbnail-img thumbscrubber">
					    <span class="ts-inner">
					        
<img src="{{ home.img }}" alt="House" class="ts-currslide">
{#<img src="http://upload.wikimedia.org/wikipedia/commons/7/75/Family-room-700.jpg" alt="Family Room">#}
{#<img src="http://upload.wikimedia.org/wikipedia/commons/3/39/METLA_SUIHKU_big.jpg" alt="Bathroom">#}
{#<img src="http://upload.wikimedia.org/wikipedia/commons/b/b2/Fully_Furnished_Atenas_Apartments_for_rent.jpg" alt="Kitchen">#}
					    </span>
					</div>
					<div class="thumbnail-body">
						<div class="caption">
							<a href={% url 'detail' home.id %}>
								<h3><span class="prop-address">{{ home.address }}<br>{{ home.city }}, {{ home.state }}. {{ home.zipcode }}</span></h3>
								<div class="prop-price">${{ home.price|intcomma}}<span></span></div>
								<p>
									Cupcake ipsum dolor. Sit amet pie wafer sugar plum oat cake lemon drops donut cookie. Soufflé gummi bears muffin pudding.
								</p>
							</a>
						</div>

						<div class="content clearfix">
							<ul class="list-unstyled feature-list" style="height: 61px;">
								<li>{{ home.bedrooms }} Bedrooms</li>
								<li>{{ home.bathrooms }} Baths</li>
								<li>{{ home.sqft }} ft <sup>2</sup></li>
							</ul>

							<div class="link-action clearfix">

								<a href="{% url 'likes' home.pk %}" class="col-md-6 col-sm-6 col-xs-6 save-favorite" data-toggle="tooltip" data-placement="top" title="You Like This!"><i class="fa fa-thumbs-o-up fa-2x"></i></a>
								<a href="{% url 'dislikes' home.pk %}" class="col-md-6 col-sm-6 col-xs-6 contact-agent" data-toggle="tooltip2" data-placement="top" title="Not Your Style"><i class="fa fa-thumbs-o-down fa-2x"></i></a>
							</div>
						</div>
					</div>
					
				</div>
			</div>
            {% endfor %}

		</div>
		<!-- End product Listing -->

	</div>

	<div class="pagination-listing">
		
<!-- Pagination -->
<ul class="pagination">
    {% if page_obj.has_previous %}
	<li><a href="?q={{ search }}&page={{ page_obj.previous_page_number }}"><i class="fa fa-chevron-left"></i> Previous</a></li>
    {% endif %}
	<li class="active"><a>Page {{ page_obj.number }} of {{ paginator.num_pages }} </a></li>
    {% if page_obj.has_next %}
	<li><a href="?q={{ search }}&page={{ page_obj.next_page_number }}">Next <i class="fa fa-chevron-right"></i></a></li>
    {% endif %}
</ul>
<!-- end Pagination -->


	</div>
			</section>
		</div>

	</div>
</div>
{% endblock %}