{% extends "base.html" %}
{% load staticfiles %}
{% load humanize %}
{% block content %}

<div class="container">
	<div class="row row-offcanvas-sm row-offcanvas-sm-right box-padding">

		<div class="col-md-99">
			<section id="content">
				
	<div class="row">
		<!-- Single Listing -->

		<div id="product-single" class="clearfix">

			<div class="col-md-12">
				<button type="button" class="btn btn-flat-asbestos btn-icon hidden-md hidden-lg hidden-xs pull-right" data-toggle="offcanvas-sm">
					<i class="fa fa-share"></i> Contact &amp; Share 
				</button>
				<div class="clearfix"></div>
			</div>

			<div id="product-title" class="col-sm-12 col-md-12 col-xs-12">
				<div class="title-bar clearfix">
					<div class="row">

						<div class="col-sm-6 col-md-6 col-xs-12">
							<h2>{{ home.address }}</h2>
							<span>{{ home.city }}, {{ home.state }}. {{ home.zip }}</span>
						</div>
						
						<div class="col-sm-6 col-md-6 col-xs-12">
							<span class="prop-price">
								${{ home.price|intcomma }}
							</span>
						</div>
					</div>
				</div>
			</div>

			<div class="row no-margin">
				<div class="col-md-12">
					<ul class="nav nav-tabs nav-tabs-inline">
						<li class="col-md-4 col-sm-4 col-xs-4 active">
							<a href="#propertydetails" data-toggle="tab">
								<i class="fa fa-home"></i>
								<span>Property Details</span>
							</a>
						</li>
					</ul>
				</div>
			</div>

			<div class="tab-content tab-content-inline clearfix">
  				<div class="tab-pane fade in active" id="propertydetails">
			
					<div id="product-gallery" class="col-sm-12 col-md-12">	
						<div class="product-details box">
							<div id="filmstrip" class="filmstrip slide">
							    <div class="filmstrip-top">
							        <div class="filmstrip-inner">
							            <div class="item active">
							                <img class="media-object" src="{{ home.img }}">
							            </div>
							            <div class="item">
							                <img class="media-object" src="http://upload.wikimedia.org/wikipedia/commons/5/57/Earth_house_interior1.jpg" alt="">
							            </div>
							            <div class="item">
							                <img src="http://upload.wikimedia.org/wikipedia/commons/5/53/Opo%C4%8Dno_castle_in_2009_22.JPG" />
							            </div>
							            <div class="item">
							                <img src="http://upload.wikimedia.org/wikipedia/commons/7/74/CITIB-projektor.jpg" />
							            </div>
							        </div>
							        <a class="left filmstrip-control" href="#filmstrip" data-filmstrip="prev"><i class="fa fa-chevron-left"></i></a>
							        <a class="right filmstrip-control" href="#filmstrip" data-filmstrip="next"><i class="fa fa-chevron-right"></i></a>
							    </div>

							    <div class="filmstrip-thumbs-wrapper">
								    <div class="filmstrip-thumbs">
								        <a class="thumb selector" href="#filmstrip" data-filmstrip="selector">
								            <img class="media-object" src="http://upload.wikimedia.org/wikipedia/commons/1/18/Kitchen_Fitting_%286%29.JPG" alt="">
								            <div class="pointer"></div>
								        </a>
								        <a class="thumb" href="#filmstrip" data-filmstrip="selector">
								            <img class="media-object" src="http://upload.wikimedia.org/wikipedia/commons/5/57/Earth_house_interior1.jpg" alt="">
								        </a>
								        <a class="thumb" href="#filmstrip" data-filmstrip="selector">
								            <img src="http://upload.wikimedia.org/wikipedia/commons/5/53/Opo%C4%8Dno_castle_in_2009_22.JPG" />
								        </a>
								        <a class="thumb" href="#filmstrip" data-filmstrip="selector">
								            <img src="http://upload.wikimedia.org/wikipedia/commons/7/74/CITIB-projektor.jpg" />
								        </a>
								    </div>
								</div>
							</div>
						</div>
					</div>

					<div class="col-sm-12 col-md-12">
						<div class="product-details box">
							<div class="product-info">
								<h3>Property Info</h3>
								<ul class="listing-content clearfix noprint">
									<li>Price Per Sqft: ${{ home.price_per_sqft|intcomma }}</li>
									<li>Square Footage: {{ home.sqft|intcomma }}</li>
								</ul>

								<h3>Property Features</h3>
								<ul>
			                        <li>{{ home.bedrooms }} Bedrooms</li>
			                        <li>{{ home.bathrooms }} Bathrooms</li>
			                        <li>Off street parking</li>
			                        <li>Mins to the Strip</li>
			                        <li>Excellent amenities</li>
			            		</ul>

								<h3>Property Description</h3>
								<p>
									Large four double bedroom house overlooking the river and located within seconds of the Thames clipper service. The product comprises four large double bedrooms, three modern bathrooms, large open plan lounge and off street parking. The house has been finished to an extremely high standard with wood floors, neutral decor, high spec integrated kitchen, modern bathrooms and high end furnishings. The product is located within a few minutes of tube and boasts fantastic transport links into the City and Central London. Canary Wharf is only a few minutes commute by boat and there are fantastic amenities in the local area. 
									
									<p>Referencing fee: $120.00 per person incl vat. This charge covers collecting of all references and any third party credit checks that are required, collection of all monies and preparation of legal documents.</p>
									
									<p>Inventory: Inventory charges start at $70.00 + tax and are related to number of bedrooms. An inventory charge is not applicable on all properties but is highly recommended.
									Change of tenant: To change a name on tenancy agreements will incur a charge of $150.00 inclusive of references.</p>
								</p>
							</div>
						</div>
					</div>
				</div>


				<div class="tab-pane fade" id="localinfo">




				</div>
			</div>
		</div>
		<!-- End Single Listing -->

	</div>
			</section>
		</div>

		<div class="col-md-33 sidebar-offcanvas-sm">
			<section id="sidebar">
				<section id="aside-product-single">

	<div class="row">

		<!-- Sidebar for Single Listing -->
		<div class="aside-product-profile">
			<div class="col-xs-12 col-sm-12 col-md-122 col-lg-12">
				<div class="panel panel-default panel-aside-1">
					<ul class="list-group list-group-aside">
						<li class="list-group-item"><a href="{% url 'likes' home.pk %}"><i class="fa fa-thumbs-o-up fa-2x"></i> You Like This!</a></li>
						<li class="list-group-item"><a href="{% url 'dislikes' home.pk %}"><i class="fa fa-thumbs-o-down fa-2x"></i> Not Your Style</a></li>
					</ul>
				</div>
				</div>
				
			</div>
		</div>	
		<!-- End Sidebar -->

	</div>

</section>

			</section>
		</div>
		
	</div>
</div>
{% endblock %}