{% extends "base.html" %}
{% load staticfiles %}
{% load humanize %}
{% block content %}

<div class="site-wrapper">
	<div class="site-row row-offcanvas row-offcanvas-left">

<section id="profile-info">

	<div class="profile-cover-section">
		<div class="title-section-img">
			<img src={% static "img/img-coverphoto.jpg" style="top: -380px;"%}/>
		</div>
	</div>

	<div class="profile-cover-info"></div>

	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#collapse-profile">
					<span class="sr-only">Toggle Navigation</span>
					<i class="fa fa-ellipsis-h"></i>
				</button>
				<button type="button" class="btn btn-icon hidden-md hidden-lg text-left" data-toggle="offcanvas-sm">
					<i class="fa fa-user"></i>
				</button>
				<div class="clearfix"></div>
				<div class="collapse navbar-collapse" id="collapse-profile">
					<ul id="profiletab" class="nav nav-tabs nav-tabs-hollo">
						<li><a href="{% url 'profile' user.pk %}">Overview</a></li>
                        <li><a href="{% url 'userlikes' user.pk %}">Liked</a></li>
                        <li class="current active"><a class='current' href="{% url 'userdislikes' user.pk %}">Disliked</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>

</section>

<section id="content">
	<div class="container overflow-hidden">
		<div class="row row-offcanvas row-offcanvas-left row-offcanvas-sm row-offcanvas-sm-left row-offcanvas-xs box-padding">
			<div class="col-md-3 sidebar-offcanvas sidebar-offcanvas-sm">

			</div>
			<div class="col-md-9">
				<div class="profile-content">
	<div class="tab-content no-bg no-border">
	</div>
			</div>

		</div>

		<!-- Listing Rent -->
		<div class="product-list grid-layout clearfix">
			<div class="row">
				<div class="col-sm-12 col-md-12 the-title text-left">
					<div class="row">
						<div class="col-md-7 col-sm-7 col-xs-8">
							<h3>Homes you recently Disliked!</h3>
							<span></span>
						</div>
						<div class="col-md-5 col-sm-5 col-xs-4">
						</div>
					</div>
				</div>
                {% for dislike in dislike_list %}
				<div class="prop-item col-sm-6 col-md-4">
					<div class="thumbnail">
						<div class="thumbnail-img thumbscrubber">
						    <span class="ts-inner">

<img src="{{ dislike.home.img }}" alt="House" class="ts-currslide">


						    </span>
						</div>

						<div class="thumbnail-body">
							<div class="caption">
								<a href={% url 'detail' dislike.home.id %}>
									<h3><span class="prop-address">{{ dislike.home.address }}<br>{{ dislike.home.city }}, {{ dislike.home.state }}. {{ dislike.home.zipcode }}</span></h3>
									<div class="prop-price">${{ dislike.home.price|intcomma}}<span></span></div>
								</a>
							</div>

							<div class="content clearfix">
								<ul class="list-unstyled feature-list">
                                <li>{{ dislike.home.bedrooms }} Bedrooms</li>
								<li>{{ dislike.home.bathrooms }} Baths</li>
								<li>{{ dislike.home.sqft }} ft <sup>2</sup></li>
								</ul>

								<div class="link-action clearfix">
								</div>
							</div>
						</div>

					</div>
				</div>
                {% endfor %}
	</div>
			</div>

		</div>

					</div>
				</div>

					</div>
				</div>

					</div>
        </div>
			</div>
{% endblock %}